---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="关于我"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("June 15 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>我是一名 React 程序员，正在研究德国机会卡政策。</p>
</Layout>
